body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.5;
}

div {
position:relative;
}
ul {
	border: 1px transparent;
	border-radius: 15%;
	margin-right: 0vw;
	margin-left:-12vw;
	padding-left: 0vw;
	padding-right: 0vw;
	box-sizing: border-box;
}

.nav {
position:absolute;
left:35%;top:3%;
list-style:none;
}

.nav li {
float:left;
}
.nav a {
display: inline-block;
text-align:center;
width:120px;
text-decoration:none;
outline: 2px solid black;
margin-left: 0.8vw;
margin-right: 0.1vw;
margin-bottom: 2vw;
border-radius: 15px 2px;
background: lightgrey;
color: black;
font-family: sans-serif;
}

a:hover {
	color: blue;
}

.active {

}

.logo {
	width: 50px;
	margin-left: 250px;
	list-style: none;
	border-radius: 15px;
}

@media screen and (max-width: 540px) and (max-height: 720px) and (min-width:  540px) and (min-height:720px) {
	ul {
		padding-inline: 20vw;
	}
}

@media screen and (max-width: 820px) and (max-height:  1180px) {
	ul {
		margin-left: -15vw;
		padding:  1vw;
	}
}

.para {
	border: 2px solid black;
	margin: 8vw 0 0 24vw;
	padding: 2vw;
	width: 30vw;
	font-family: sans-serif;
	font-size: 1vw;
}